#shutterGutterApp .errorDesc {
  color: #a94442; }

#shutterGutterApp .has-error {
  border-color: #a94442; }

#shutterGutterApp .text-center {
  text-align: center; }

#shutterGutterApp .header-text {
  margin-bottom: 50px; }

#shutterGutterApp .details-label {
  margin-left: 10px;
  margin-right: 10px; }

#shutterGutterApp .status-label {
  margin-right: 10px; }

#shutterGutterApp .invoice-form {
  border: 1px solid lightblue;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: aliceblue; }

#shutterGutterApp .margin-top-30 {
  margin-top: 30px; }

#shutterGutterApp #my-navbar .active-nav-link {
  color: #337ab7; }

#shutterGutterApp .my-tr-row td {
  padding: 10px 0 0 0; }

#shutterGutterApp .my-tr-row td button {
  border-radius: 0; }

#shutterGutterApp .no-top-border {
  border-top: none; }

#shutterGutterApp .commentField {
  overflow-y: scroll;
  background-color: lightgrey;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey; }
