#shutterGutterApp {
    
    .errorDesc {
        color: #a94442;
    }

    .has-error {
        border-color: #a94442;
    }
    
    .text-center {
        text-align: center;
    }

    .header-text {
        margin-bottom: 50px;
    }

    .details-label {
        margin-left: 10px;
        margin-right: 10px;
    }

    .invoice-form {
        border: 1px solid lightblue;
        padding: 10px 10px 0px 10px;
        border-radius: 10px;
        background-color: aliceblue;
    }

    .margin-top-30 {
        margin-top: 30px;
    }
    
    #my-navbar .active-nav-link {
        color: #337ab7;
    }
    
    .my-tr-row td {
        padding: 10px 0 0 0;
    }
    
    .my-tr-row td button {
        border-radius: 0;
    }

    .no-top-border {
        border-top: none;
    }
    
    .commentField {
        overflow-y: scroll;
        background-color: lightgrey;
        height: 150px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid grey;
    }
}
